
<p>Change Password</p>
<form action="../cuser/savenewpassword/{{user.id}}?_method=PUT" method="post">
<div class="form-group">
					
					<label for="password">Old Password</label>
					<input type="password" name="password" class="clogininputBox" value="{{password}}" required>
				</div>
				<div class="form-group">
					<label for="password2">New Password</label>
					<input type="password" name="password2" class="clogininputBox" value="{{password2}}" required>
				</div>

				<div class="form-group">
					<label for="password3">Confirm New Password</label>
					<input type="password" name="password3" class="clogininputBox" value="{{password3}}" required>
				</div>
                <button type="submit" class="addfeedback">Submit</button>
                </form>