<h1>Choose your payment method</h1>
<button><a href='../shopping/paymentcash'>Cash</a></button>
<button><a href='../shopping/paymentcreditcard'>Credit Card</a></button>
<form action='../shopping/pay' method='post'>
	<input type='submit' value="PayPal" >
		</form>

